<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Hanzi Trainer - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Hanzi Trainer 汉字训练</h1>
        <div class="dropdown">
            <form method="POST">
            <label for="hanzi-dropdown">Select character set:</label>
            <select id="hanzi-dropdown">
                <option value="unlocked">Unlocked</option>
                <option value="hsk1">HSK1</option>
                <option value="hsk2">HSK2</option>
                <option value="hsk3">HSK3</option>
                <option value="hsk4">HSK4</option>
                <option value="hsk5">HSK5</option>
                <option value="hsk6">HSK6</option>
                <option value="hsk79">HSK7-9</option>
                <option value="tester">Tester</option>
            </select>
        </div>
        <div class="dropdown">
            <form method="POST">
            <label for="word-dropdown">Select word list:</label>
            <select id="word-dropdown">
                <option value="hsk_words">Up to HSK6</option>
                <option value="hsk79_words">Up to HSK7-9</option>
                <option value="all_words_with_hsk_hanzi">All HSK6-Compatible Words</option>
                <option value="every_word">Every Word</option>
            </select>
        </div>
        <div class="button" id="start-button">Start Reviews</div>
    </div>
    <script src="{{ url_for('static', filename='home_script.js') }}"></script>
</body>
</html>